.App{
margin-top:3rem;
}
body{
    background:url(../stripes-light.png)
}

.btn{

 margin:2rem;
}

.header{
    display:flex;
    align-items: flex-start;
}
.d-flex-vh-center{
    display:flex;
    align-items: center;
}
.mx-auto{
    margin: 0px auto;
}
.mx-2{
    margin:0 2rem;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid #06068f; */
    padding:0 1rem;

}
.divider{
    width:95%;
    background-color:#06068f; 
}
.btn{
    width:45px;
    border-radius:50%;
    height:35px;
    font-weight: bold;

}
#btn-incre{
    background-color:red;
    color:white;
    align-items: center;
    justify-content: center;
}
#btn-decre{
    background-color:#06068f;
    color:white;
    align-items: center;
    justify-content: center;
}
label{
    max-width:400px;
    width:100%;
    font-weight: bold;
    padding:0 2rem;
    text-transform: uppercase;
}

.app-container{
    border:1px solid #06068f;
}
.App.container{
    color:#06068f;
}


}